html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #FFFBF5;
  font-family: 'Manrope', sans-serif;
  line-height: 2em;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* <----NAVBAR----> */

header {
  background-color: #FFFBF5;
  border-bottom: solid 1px #000;
  text-align: center;
  position: fixed;
  width: 100%;
  padding-top: 1em;
}

img {
  width: 7em;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

/* <----HAMBURGER----> */

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #000;
  height: .15em;
  width: 1.5em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

/* <----NAV DROPDOWN----> */

nav {
  position: absolute;
  text-align: left;
  padding-top: 1em;
  top: 100%;
  background: #FFFBF5;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}


nav a {
  color: #221F20;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

/* <----NAV ANIMATION----> */

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/* <----LANDING PAGE----> */

.landing-page {
  padding: 1.5em;
  padding-top: 5em;
  margin: 0 auto;
}

/* .align-right {
  text-align: right;
  float:l eft;
} */

.playfair {
  font-size: 41.05px;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
  line-height: 1.5em;
  margin: 0 0 .5em;
}

.great-vibe {
  font-size: 51.96px;
  font-family: 'Great Vibes', cursive;
}

.no-outline-btn {
  border: none;
  background: none;
  font-size: 14.22px;
  font-family:'Manrope', sans-serif;
  font-weight: 400;
}

span.arrow {
  font-size: 1.2em;
  vertical-align: -3px;
  padding-left: .5em;
}

/* <----LOOP----> */

.marquee {
  overflow: hidden;
  padding: 1em;
  border-top: 1px solid #221F20;
  border-bottom: 1px solid #221F20;
}

.marquee .inner {
  display: flex;
  width: fit-content;
  animation: marquee 25s linear infinite;
}

.marquee .inner span {
  white-space: nowrap;
  font-size: 16px;
  padding: .25em;

}

@keyframes marquee {
  to {
    transform: translateX(-50%);
  }
}

a {
  text-decoration: none;
  color: #221F20;
}
