html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #FFFBF5;
  font-family: 'Manrope', sans-serif;
  line-height: 1.8em;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* <----NAVBAR----> */

header {
  background-color: #FFFBF5;
  border-bottom: solid 1px #000;
  text-align: center;
  line-height: 0;
  position: relative;
  width: 100%;
  padding: 1em 0 1em;
}

.logo {
  width: 10em;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

/* <----HAMBURGER----> */

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #221F20;
  height: 1.5px;
  width: 1.5em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

/* <----NAV DROPDOWN----> */

nav {
  position: absolute;
  line-height: 1.5em;
  text-align: left;
  padding-top: 1em;
  top: 100%;
  background: #FFFBF5;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}


nav a {
  color: #221F20;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

/* <----NAV ANIMATION----> */

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/* <----LANDING PAGE----> */

.landing-page {
  padding: 4em 1.5em 4em;
  margin: 0 auto;
}

.line {
  width: 25px;
  border-bottom: 1px solid #221F20;
}

.align-right {
  width: 37%;
  text-align: right;
}

.playfair {
  line-height: 1.25em;
  font-size: 46.18px;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
  margin: .5em 0 1em;
}

.great-vibe {
  line-height: 0;
  font-size: 51.96px;
  font-family: 'Great Vibes', cursive;
}

.no-outline-btn {
  border: none;
  background: none;
  font-size: 14.22px;
  font-family:'Manrope', sans-serif;
  font-weight: 400;
}

span.arrow {
  font-size: 1.2em;
  vertical-align: -3px;
  padding-left: .5em;
}

/* <----LOOP----> */

.marquee {
  overflow: hidden;
  padding: 1em;
  border-top: 1px solid #221F20;
  border-bottom: 1px solid #221F20;
}

.marquee .inner {
  display: flex;
  width: fit-content;
  animation: marquee 25s linear infinite;
}

.marquee .inner span {
  white-space: nowrap;
  padding: .25em;
}

@keyframes marquee {
  to {
    transform: translateX(-50%);
  }
}

a {
  text-decoration: none;
  color: #221F20;
}

/* <----WORK----> */

.work {
  padding: 0 1.5em 3em;
  background-color: #221F20;
}

.white-h2 {
  font-size: 22.78px;
  font-weight: 300;
  color: #FFFBF5;
  text-align: center;
  margin: 0;
  padding: 2em 0 2em;
}

.white-great-vibe-h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 36.49px;
  color: #FFFBF5;
}

article {
  display: flex;
  flex-direction: column;
}

article > img {
  width: 100%;
  height: 100%;
  border: 1px solid #FFFBF5;
  object-fit: cover;
}

.six-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 1em 0 1em;
}

.six-grid h2 {
  font-family: 'Playfair Display', serif;
  font-size: 22.78px;
  font-weight: 400;
  color: #FFFBF5;
  margin-bottom: .5em;
}

.six-grid h4 {
  font-weight: 300;
  color: #FFFBF5;
  margin-top: 0;
}


div a > .blk-btn {
  margin: 2em auto 1em;
  height: 45px;
  width: 190px;
}

.blk-btn {
  font-size: 1em;
  font-family: 'Manrope', sans-serif;
	color: #FFFBF5;
  letter-spacing: 1px;
	background-color: #221F20;
  border: 2px solid #FFFBF5;
  transition-duration: .5s;
	transition-property: all;
  transition-timing-function: linear;
  cursor: pointer;
}

.blk-btn:hover {
 background-color: #FFFBF5;
 color: #221F20;
}

/* <----ABOUT----> */
.about {
  padding: 0 1.5em 3em;
}

section > h3 {
  font-size: 18px;
  font-weight: 300;
  color: #221F20;
  margin: 0;
  padding: 2em 0 0;
}

.blk-great-vibe-h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 36.49px;
  color: #221F20;
}

.blk-h2 {
  font-size: 22.78px;
  font-weight: 300;
  color: #221F20;
  padding: 1em 0 .5em;
  margin: 0;
}

div a > .white-btn {
  margin: 1em auto 1em;
  height: 45px;
  width: 150px;
}

.white-btn {
  font-size: 1em;
  font-family: 'Manrope', sans-serif;
	color: #221F20;
  letter-spacing: 1px;
	background-color: #FFFBF5;
  border: 2px solid #221F20;
  transition-duration: .5s;
	transition-property: all;
  transition-timing-function: linear;
  cursor: pointer;
}

.white-btn:hover {
 background-color: #221F20;
 color: #FFFBF5;
}

/* <----SERVICES----> */
.services {
  background-color: #221F20;
  padding-bottom: 3em;
}

.four-flex {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1em 0 3em;
}

div > h4 {
  font-weight: 300;
  color: #FFFBF5;
  margin: 0;
}

.four-flex > div {
  border-top: 1px solid #FFFBF5;
  border-bottom: 1px solid #FFFBF5;
  padding: 2em 1.5em 2em;
}

div > .blk-btn {
  margin: 1em auto 1em;
  display: block;
  height: 45px;
  width: 190px;
}

/* <----WHY WORK----> */

.why-work {
  padding: 0 1.5em 3em;
}

.why-work > .blk-h2 {
  font-size: 22.78px;
  font-weight: 300;
  color: #221F20;
  text-align: center;
  margin: 0;
  padding: 2em 0 2em;
}

.three-flex {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1em 0 3em;
}

.three-flex div > h4 {
  font-weight: 500;
  color: #221F20;
  margin-bottom: 1em;;
}

.playfair-h4 {
  font-family: 'Playfair Display', serif;
}



div > .white-btn-centered {
  display: block;
  margin: 1em auto 1em;
  height: 45px;
  width: 150px;
}

.white-btn-centered {
  font-size: 1em;
  font-family: 'Manrope', sans-serif;
  color: #221F20;
  letter-spacing: 1px;
  background-color: #FFFBF5;
  border: 2px solid #221F20;
  transition-duration: .5s;
  transition-property: all;
  transition-timing-function: linear;
  cursor: pointer;
}

@media only screen and (min-width: 38em) {

/* <----NAV----> */

/* .nav-toggle-label {
  display: none;
}

header {
  display: flex;
  justify-content: space-around;
  padding: 1em 0 1em;
}

nav {
  all: unset;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav li {
  margin-left: 3em;
  margin-bottom: 0;
}

nav a {
  opacity: 1;
  position: relative;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background: black;
  position: absolute;
  top: -0.75em;
  transform: scale(0, 1);
  transform-origin: center;
  transition: transform ease-in-out 250ms;
} */
